.mata {
    color: #006d77;
}

#indah a {
    color: #d62828;
}

.coboy {
    color: #5a189a;
}

.U {
    color: #0077b6;
}

#wae {
    color: #9c6644;
}

#raja-ampat {
    color: #7209b7;
}

blockquote {
    color: #6d597a;
}

cite {
    color: #bc4749;
}

summary {
    color: #3c096c;
}

label {
    color: #9d0208;
}